.header {
  display: grid;
  justify-items: center;
  padding: 40px 0px;
  animation: showH 1s forwards;
}

@keyframes showH {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 951px) {
  .header {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
